a {
  text-decoration: none;
  color: #3B9ABF;
}

header {
  background-color: #FCF5EB;
  border: solid 1px #FCF5EB;
}

.botonHeader {
  background-color: #FCF5EB;
  color: #3B9ABF;
  border: 2px solid rgb(22, 85, 109);
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
.botonHeader:hover {
  background-color: #3B9ABF;
  color: #FCF5EB;
}
.botonHeader {
  width: 100px;
}

.fondoNav {
  background-color: #FCF5EB;
}

.navbar-nav a {
  justify-content: space-around;
  color: #3B9ABF;
  width: 100%;
}

h1 {
  text-align: center;
  color: #FCF5EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #117DBF;
  text-indent: 1%;
  padding: 0 0 0.5px 0;
}
main p {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: #FCF5EB;
}
main section {
  background-color: #117DBF;
  padding: 20px;
  border: solid 1px #117DBF;
  border-radius: 5px;
  margin: 20px;
}

.row.row-cols-1.row-cols-md-3.g-4 {
  margin: 0 5% 5% 5%;
}

.card-body {
  text-align: center;
  background-color: #3f9cd6;
}

.btn-primary {
  background-color: #FCF5EB;
  color: #3B9ABF;
  border: 2px solid #1b617c;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #3B9ABF;
  color: #FCF5EB;
}

.btn:hover {
  background-color: #3B9ABF;
  color: #FCF5EB;
}

.carousel-inner {
  border: solid 2px #3B9ABF;
  border-radius: 10px;
  margin: 5% 25%;
  width: 50%;
}

.ofertas {
  text-decoration-line: underline;
  font-size: 25px;
  text-align: center;
  text-indent: 0.5%;
}

.ofertas-semanales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: row;
  text-indent: 0.5%;
}

nav {
  text-align: center;
  text-indent: 0.5%;
}

.sucursales {
  font-style: italic;
}

.col-md-8 {
  margin: auto;
  width: 60%;
  padding: 3%;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: auto;
  width: 40%;
  text-align: center;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

ul li {
  margin: 20px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  color: #FCF5EB;
}

footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #FCF5EB;
}
footer p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  text-decoration: none;
  text-align: center;
  width: 80%;
  color: #3B9ABF;
}
footer img {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 15%;
}

@media (min-width: 425px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container p {
    margin: 0 0 0 180%;
  }
  .col-md-8 {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .mapa iframe {
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 20% 0 20%;
    width: 400px;
    height: 400px;
  }
  ul li {
    text-align: center;
    margin: 0 20% 0 20%;
  }
}

/*# sourceMappingURL=main.css.map */
